# Игнорировать локальное виртуальное окружение Poetry
.venv

# Игнорировать системные файлы Git
.git
.gitignore

# Игнорировать системные файлы PyCharm/VSCode
.idea
.vscode

# Игнорировать кеш Python
__pycache__

# Игнорировать файл с секретами (он подключается через env_file)
.env