.expert-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 0 !important;
}

.expert-profile-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

.expert-profile-name {
  margin: 0;
}

.expert-profile-regalia {
  color: var(--vkui--color_text_secondary);
  line-height: 1.3;
  text-align: left;
  white-space: pre-wrap;
}

.expert-profile-stats {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 8px 0;
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid var(--vkui--color_separator_primary);
  border-top: 1px solid var(--vkui--color_separator_primary);
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out;
}
.stat-item:hover {
  background-color: var(--vkui--color_background_secondary_alpha);
}

.stat-value {
  font-size: 18px;
  font-weight: 500;
}

.topics-section-container {
  padding: 0 16px;
}

.topics-text {
    line-height: 1.3;
}

.expert-profile-actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
  padding: 4px 0 12px 0;
}

.action-item-small {
  transform: scale(0.85);
}

.compact-div {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.compact-header {
    margin-bottom: 2px !important;
    margin-top: 4px !important;
}