.event-card-menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-card-warning-dot {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--vkui--color_icon_negative);
    border-radius: 50%;
    border: 1px solid var(--vkui--color_background_content);
}